.btns_cont_VideoPage{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 5;
}
.btn_VideoPage{
    margin: auto 0;
    display: flex;

}
.like_VideoPage{
    margin: 0.5rem;
    display: flex;
    cursor: pointer;
}
.btns_videoPage{
    margin: auto 0.5rem;
}